<!--The content below is only a placeholder and can be replaced.-->

<!-- Header Showcase-->
<header id="showcase" class="grid">
  <div class="bg-image"></div>
  <div class="content-wrap">
    <ul>
      <li>
        <div class="card">
          <img width="500" src="/assets/images/qunsheng.jpeg" alt="">

        </div>
      </li>

      <li>
        <h1>Quentin Chen</h1>
        <p>Over 20 years IT experience. Former heart and soul of NASDAQ biggest trading engine. Original author of many
          Wall Street well known applications such as BRASS/BNET. Passionate about JavaScript and web application
          development.</p>
        <!-- <a href="#section-b" class="btn">Read More</a> -->
      </li>
    </ul>




  </div>

</header>

<app-skill-set></app-skill-set>


<!-- Portfolio -->
<section id="section-b" >
      <h2>Work Experience</h2>

      <section class="portfolio">

        <div class="box">
                <img src="/assets/images/laptop-mobile.jpg" alt="">
            
        
                <h3 class="content-title">Morgan Stanley, New York, NY (Contractor)</h3>
                <h4>Front End Developer, 6/2014 – present </h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur numquam totam esse nemo commodi
                    iure itaque reprehenderit facilis unde vel.</p>
        

        </div>
        <div class="box">
                <img src="/assets/images/pexels-photo-887751.jpeg" alt="">
            
        
                <h3 class="content-title">Door 3 Business Applications Inc., New York, NY (Contractor)</h3>
                <h4>Architect/Front End Developer, 3/2014 – 6/2014 </h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur numquam totam esse nemo commodi
                    iure itaque reprehenderit facilis unde vel.</p>
        

        </div>
        
        <div class="box">
            <img src="/assets/images/pexels-photo-955447.jpeg" alt="">
        
    
            <h3 class="content-title">Department of Sanitation, New York, NY (Contractor)</h3>
            <h4>Consultant, 8/2013 - 1/2014</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur numquam totam esse nemo commodi
                iure itaque reprehenderit facilis unde vel.</p>
    

        </div>
      
      </section>
</section>
