<!-- Header Showcase-->
<header id="showcase" class="grid">
  <div class="bg-image"></div>
  <div class="content-wrap">
    <ul>
      <li>
        <div class="card">
          <img width="500" src="/assets/images/qunsheng.jpeg" alt="">

        </div>
      </li>

      <li>
        <h1>Quentin Chen</h1>
        <p>Over 20 years IT experience. Former heart and soul of NASDAQ biggest trading engine. Original author of many
          Wall Street well known applications such as BRASS/BNET. Passionate about JavaScript and web application
          development.</p>
      </li>
    </ul>
  </div>
</header>

<app-skill-set></app-skill-set>
<app-work-experience></app-work-experience>
<app-education ></app-education>

