<!-- Portfolio -->
<section id="section-b">
  <h2>Work Experience</h2>

  <section class="portfolio">
    <div class="portfolio-item">
      <img src="/assets/images/boa.jpg" alt="">
      <div class="item-header">
        Bank of America, New York, NY (Contractor) <br>
        9/2019 – 2/2021
      </div>
    </div>
    
    <div class="portfolio-item">
      <img src="/assets/images/morgan_stanley_building_compressed.jpg" alt="">
      <div class="item-header">
        Morgan Stanley, New York, NY (Contractor) <br>
        6/2014 – 7/2019
      </div>
    </div>

    <div class="portfolio-item">
      <img src="/assets/images/pexels-photo-887751.jpeg" alt="">
      <div class="item-header">
        Door 3 Business Applications Inc., New York, NY (Contractor)<br />
        3/2014 – 6/2014
      </div>
    </div>

    <div class="portfolio-item">
      <img src="/assets/images/dsny.jpg" alt="">
      <div class="item-header">
        Department of Sanitation, New York, NY (Contractor)<br />8/2013 - 1/2014
      </div>
    </div>

    <div class="portfolio-item">
      <img src="/assets/images/BNY.jpg" alt="">
      <div class="item-header">
        Bank of New York Mellon, Jersey City, NJ (Contractor)<br />5/2012 - 7/2013
      </div>
    </div>
    <div class="portfolio-item">
      <img src="/assets/images/brampton.jpg" alt="">
      <div class="item-header">
        Rogers, Brampton, Ontario (Contractor)<br />8/2010-12/2011
      </div>
    </div>
    <div class="portfolio-item">
      <img src="/assets/images/pexels-photo-955447.jpeg" alt="">
      <div class="item-header">
        AMDOCS, Toronto, Ontario (Contractor)<br /> 11/2009-8/2010
      </div>
    </div>
    <div class="portfolio-item">
      <img src="/assets/images/cibc.jpg" alt="">
      <div class="item-header">
        CIBC World Market, Toronto, Ontario (Employee)<br />12/2008-5/2009

      </div>
    </div>
    <div class="portfolio-item">
      <img src="/assets/images/goldman.jpg" alt="">
      <div class="item-header">
        Goldman Sachs, New York, NY (Contractor)<br /> 11/2007-10/2008
      </div>
    </div>

    <div class="portfolio-item">
      <img src="/assets/images/citi.jpg" alt="">
      <div class="item-header">
        Citigroup Corporate & Investment Bank, New York, NY (Contractor) <br />06/2005-09/2007
      </div>
    </div>

    <div class="portfolio-item">
      <img src="/assets/images/4wfc.jpg" alt="">
      <div class="item-header">
        Merrill Lynch, New York, NY (Contractor) <br />07/2004-05/2005

      </div>
    </div>
    <div class="portfolio-item">
      <img src="/assets/images/RBC.jpg" alt="">
      <div class="item-header">

        RBC Capital Markets, Toronto, Ontario (Employee) <br />05/2001-04/2004
      </div>
    </div>

    <div class="portfolio-item">
      <img src="/assets/images/laptop-mobile.jpg" alt="">
      <div class="item-header">
        Nubase Technologies Inc., Toronto, Ontario (Employee) <br />01/2001-04/2001
      </div>
    </div>
    <div class="portfolio-item">
      <img src="/assets/images/toronto.jpg" alt="">
      <div class="item-header">

        Blockade System Corporation, Toronto, Ontario (Employee) <br />08/1999-12/2000
      </div>
    </div>
    <div class="portfolio-item">
      <img src="/assets/images/knight.jpg" alt="">
      <div class="item-header">
        Knight Securities Inc., Jersey City, NJ (Employee) <br />02/1996-07/1999
      </div>
    </div>
    <div class="portfolio-item">
      <img src="/assets/images/brass.jpg" alt="">
      <div class="item-header">
        Automated Securities Clearance Ltd., Weehawken, NJ (Employee) <br />12/1992-01/1996
      </div>
    </div>
  </section>
</section>
